.node-type-input-variable .field-name-field-map-image img {
    max-width: 742px;
    max-height: 576px;
}

.node-type-intersection .field-name-field-content-page-image img {
    max-width: 742px;
    max-height: 576px;
}

.node-type-report-content-page .field-name-body img {
    max-width: 742px;
    max-height: 576px;
}

.node-type-policy-option-map .field-name-field-map-image img {
    max-width: 742px;
    max-height: 576px;
}